openapi: 3.0.4
info:
  title: Link Scraper
  description: >-
    Link Scraper is a simple tool for scraping web page links. It returns all
    the links on a web page.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/linkscraper:
    post:
      summary: Scrape Links
      description: Scrape all the links on a web page
      operationId: linkscraper
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  url: >-
                    http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts.html
                  linkCount: 16
                  externalLinkCount: 13
                  internalLinkCount: 3
                  links:
                    - text: Documentation
                      href: >-
                        http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts.html/index.html
                      external: false
                    - text: Amazon EC2 Instance Types Guide
                      href: >-
                        https://docs.aws.amazon.com/ec2/latest/instancetypes/instance-types.html
                      external: true
                    - text: Amazon EC2 Auto Scaling
                      href: https://docs.aws.amazon.com/autoscaling/
                      external: true
                  uniqueDomains:
                    - docs.aws.amazon.com
                    - aws.amazon.com
                  maxLinksReached: false
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the web page to scrape links from
                maxlinks:
                  type: number
                  description: Maximum number of links to scrape and return
                includequery:
                  type: boolean
                  description: Include query strings in the scraped links
              required:
                - url
                - maxlinks
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  url: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts.html
  maxlinks: 20
  includequery: false
